body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: darkslategray; 
    background-color: antiquewhite;
}

li  {
    font-style: italic;
    font-weight: normal;
}

.bold   {
    font-weight: bold;
}

.underline  {
    text-decoration: underline;
}

.center {
    margin: 50px;
}

ul {
    font-style: normal;
}
